<ul class="nav nav-tabs">
	 <li *ngFor="let tab of tabs" role="presentation">
	 		<a [attr.href]="tabRef(tab.id)" [attr.aria-controls]="tab.id" role="tab" data-toggle="tab">{{tab.name}}</a>
	</li>
</ul>
<div class="tab-content">
	<div *ngFor="let tab of tabs; let i=index" role="tabpanel" class="tab-pane" [attr.id]="tab.id">
		<div [ngSwitch]="tab.id" class="container-fluid">
			<div *ngSwitchCase="'Sensors'"><app-sensor-view>{{sensorView}}</app-sensor-view></div>
			<div *ngSwitchDefault><app-under-construction>{{underConstruction}}</app-under-construction></div>
		</div>
	</div>
</div>
